<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.LoginController">
		<property name="authService" ref="authService" />
		<property name="placeService" ref="placeSvc" />
	</bean>
	<bean class="controller.AdminController">
		<property name="daoMemberAdmin" ref="daoMemberAdmin" />
		<property name="authService" ref="authService" />
		<property name="changePasswordService" ref="changePwdSvc" />
		<property name="memberRegisterService" ref="memberRegSvc" />
	</bean>
	<bean class="controller.MemberController">
		<property name="daoMember" ref="daoMember" />
		<property name="authService" ref="authService" />
		<property name="changePasswordService" ref="changePwdSvc" />
		<property name="memberRegisterService" ref="memberRegSvc" />
	</bean>
	<bean id="authService" class="login.AuthService">
		<property name="daoMember" ref="daoMember" />
	</bean>
	<bean id="daoMember" class="dao.DaoMember">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="changePwdSvc" class="member.ChangeInfoService">
		<constructor-arg ref="daoMember" />
	</bean>

	<bean id="memberRegSvc" class="member.MemberRegisterService">
		<constructor-arg ref="daoMember" />
	</bean>
	<bean id="placeSvc" class="place.PlaceService">
		<constructor-arg ref="daoMember" />
	</bean>
	<bean id="daoMemberAdmin" class="dao.DaoMemberAdmin">
		<constructor-arg ref="daoMemberAdmin" />
	</bean>
</beans>