@CHARSET "UTF-8";
#footer {
	/* background:rgba(255,255,255,0.6); */
	width:100%;
	height: 100px;
	text-align: center;
	font-size: 15px;
}

#footerDiv span {
	color: threeddarkshadow;
}

#footerDiv span span{
	color: white;
}

